<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @user_list.each do |user| %>
      <tr>
        <td>
          <div>
            <h3>Customer <%= user["id"] %><br></h3>
            <% user.each do |key, info| %>
                <span><%= "#{key}:#{info}" %></span>
            <% end %>
          </div>

          <!--<%= link_to 'Show', user %>-->

        </td>
        <!--<td><%= link_to 'Edit', edit_user_path(user["id"]) %></td>-->
        <td><%= link_to 'Edit', edit_user_path(user["id"]), class: "btn", id: "btn-blue" %></td>
        <!--<td><%= link_to 'Show', user_path(user["id"]), class: "btn", id: "btn-blue" %></td>-->
        <td><%= link_to 'Show', user_path(user["id"]), class: "btn", id: "btn-blue" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Go back Home', users_path %>
